<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.yojigen.pixiu">

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
    </queries>

    <application
        android:name=".app.PixiuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pixiu">
        <activity android:name=".view.SettingActivity" />
        <activity android:name=".view.InfoActivity" />
        <activity android:name=".view.IllustActivity" />
        <activity android:name=".view.SearchResultActivity" />
        <activity
            android:name=".view.SearchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.RouterActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="pixiv.me" />
                <data android:host="pixiv.net" />
                <data android:host="www.pixiv.me" />
                <data android:host="www.pixiv.net" />
                <data android:pathPrefix="/member.php" />
                <data android:pathPrefix="/member_illust.php" />
                <data android:pathPrefix="/artworks" />
                <data android:pathPrefix="/en/artworks" />
                <data android:pathPrefix="/user" />
                <data android:pathPrefix="/i" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:launchMode="singleTask" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="tech.yojigen.pixiu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>